h1 {
    font-size: 30px;
    font-family: sans-serif;
    font-weight: bold;
    color: whitesmoke;
}

h2 {
    font: 20px sans-serif bold;
}

.header{

    font-size: 50px;
    font-family: sans-serif;
    font-weight: bold;
    color: whitesmoke;


}

.agrupar{

    background: azure;
    width: 1160px;
    margin: 30px auto;
    padding: 30px;
    border: 1px solid black;

}

.header{
    background: #006666;
    padding: 20px;
    text-align: center;
    border-radius: 15px
}

.menu li {
    list-style: none;
    padding: 5px;
    font: bold 25px verdana;
    display: inline-block;
   
}

.seccion {
    margin: 20px;
    width: 900px;
    float: left;
    
}

figure img:hover{

    -webkit-transform: scale(1.2);
}

.listaAlumno {
    width: 200px;
    float: inline-start;  
    display: inline-block;
    font: bold 30px verdana;
    margin-top: 20px;
    margin-bottom: 550px;
}

article{
    background: #006666;
    padding: 10px;
    margin: 20px;
    font: bold 20px verdana;
    text-align: center;
    padding: 15px;
}

.pie {
    font: bold 15px verdana;
    text-align: center;
    width: 1000px;
    border-top: 1px solid black;
}